.ContactPage {
   
}


.InformacionContacto{
    font-family: 'Alfa Slab One', cursive;
}

.ContenedorInformacion{
    border: 5px solid #bce8f1;
    border-radius: 20px;
}

.ContenedorContacto{
    border: 5px solid #d6e9c6;
    border-radius: 20px;
}