.HomePage {
    background-image: url("../resources/pastas2.jpg");
    background-size: cover;
    height: 1080px;
    font-family: 'Fredoka One', cursive;
}
/*
.GranTitulo{
    font-size: 80px;
    color: #ff6c00;
}

.MiniTitulo{
    font-size: 30px;
    color: #edff00;
}

.MenuIzquierda{
    margin-right: 20px;
}

.BarraNavegacion{
    font-size: 18px;
}
*/