.LoginPage {
    background-image: url("../resources/pastas2.jpg");
    background-size: cover;
    /*height: 1080px;*/
    background-attachment: fixed;
    font-family: 'Baloo Da', cursive;
}


.BarraBotones{
    text-align: center;
}

.VentanaLogin {
    background: rgba(53, 56, 49, 0.85);
    text-align: center;
    margin-top: 20%;
}

.LabelsLogin {
    color: white !important;
    margin-top: 0px;
    font-size: 150%;
}

.LoginBotonEntrar {
    color: black;
    background: green;
    font-size: 100%;
}

.LoginBotonCancelar {
    background: red;
}

.EstiloCampos {
    border-radius: 10px;
    color: black;
}

.MiniLabelsLogin {
    color: white;
}