.LoginPage {
    background-image: url("../resources/pastas2.jpg");
    background-size: cover;
    /*height: 1080px;*/
    background-attachment: fixed;
    font-family: 'Baloo Da', cursive;
}


.BarraBotones{
    text-align: center;
}

.Ventana {
    background: rgba(53, 56, 49, 0.75);
    text-align: center;
}

.LabelsLogin {
    color: white;
    margin-top: 0px;
    font-size: 150%;
}

.LoginBotonEntrar {
    color: black;
    background: green;
    font-size: 100%;
}

.LoginBotonCancelar {
    background: red;
    
}

a {
    color: white;
}

.EstiloCampos {
    border-radius: 10px;
}