.MisionPage {
    background-image: url("../resources/pastas2.jpg");
    background-size: cover;
    height: 1080px;
}

.TituloMision{
    text-align: center;
}

.CentrarTexto{
    text-align: center;
}