.RegisterPage {
    background-image: url("../resources/pastas2.jpg");
    background-size: cover;
    height: 1080px;
}

.VentanaRegister {
    margin-top: 20%;
    padding-top: 3%;
    background: rgba(53, 56, 49, 0.85);
}

.BarraBotones{
    text-align: center;
}

.LabelsRegister {
    text-align: center;
    color: white !important;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
}

.RegisterBotonCrear {
    color: black;
    background: green;
    font-family: 'Alfa Slab One', cursive;
}

.RegisterBotonCancelar{
    background: red;
    font-family: 'Alfa Slab One', cursive;   
}

.MiniLabelsRegister {
    color: white !important;
    text-align: right;
}