.UniversityPage {
    font-family: 'Baloo Da', cursive;
}

.ListaUniversidades{
    /*font-family: 'Alfa Slab One', cursive;*/
    font-family: 'Baloo Da', cursive;
}


.panel{
    border-radius: 15px;
}

.panel-heading{
    border-radius: 15px;
}