.UserLoginSuccess {
    background-image: url("../resources/pastas2.jpg");
    background-size: cover;
    /*height: 1080px;*/
    background-attachment: fixed;
    font-family: 'Baloo Da', cursive;
    font-size: 125%;
}

.Ventana {
    background: rgba(53, 56, 49, 0.75);
    text-align: center;
    color: white;
}

.ColorTitulo {
    background: red;
}

.Menuuu {
    padding-top: 0px
}

.Fondo {
   background: transparent;
}

.BordesMenuItem {
    border: solid;
    background: rgba(255, 255, 255, 0.65);
}


.BotonCerrarSesion {
    text-align: center;
}

.LogoUserIn {
    margin-left: 15px;
}

.LabelRol {
    margin-bottom: 10px;
}

.LabelId {
    margin-bottom: 10px;
}

.LabelNombre {
    margin-bottom: 10px;
}

.CentrarDatos{
    text-align: left;
}

.h3, h3{
    margin-top: 10px;
}

.DatosInicio {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
}

.OpcionesMenu {
    text-align: center;
}

.DatosMenu {
    
}

.BotonesDatos {
    text-align: right;
}

.BordesLaterales {
    margin-left: 2%;
    margin-right: 2%;
}

.CentrarSubirArchivos {
    text-align: center;
    margin-top: 0px;
}

.BotonesSubirDocumento {
    text-align: center;
}
.CentrarArchivos {
    margin-left: 35%;
    margin-right: 0%
}

.MiTexto {
    text-align: justify;
    color: black;
}

.Letra {
    color: darkseagreen;
}
<<<<<<< HEAD
=======

>>>>>>> f714dc741ec769def85d875fd1e3c203c9135c99
.centrarNombre{
    text-align: center;
}
.centrarEmail{
    text-align: center;
}
.centrarIdnumber{
    text-align: center;
}
<<<<<<< HEAD
=======

>>>>>>> f714dc741ec769def85d875fd1e3c203c9135c99
.CentrarTexto {
    text-align: center;
}

.AgrandarLetra {
    font-size: 150%;
}

.BotonesFiltros {
    text-align: center;
}

.GeneralActivades {

}

.EsUnEvento {
    background: rgba(150, 2, 0, 0.80) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.EsUnEvento2 {
    background: rgba(150, 2, 0, 0.60) !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.EsUnaPublicacion {
    background: rgb(235, 141, 59, 0.80) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.EsUnaPublicacion2 {
    background: rgb(235, 141, 59, 0.60) !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.EsUnaAsesoria {
    background: rgba(14, 140, 24, 0.80) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.EsUnaAsesoria2 {
    background: rgba(14, 140, 24, 0.60) !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.holamundo {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background: red;
}

.ListaActividades {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background-color:rgba(255, 255, 255, 0.30);
}

.ListaAsesorias {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background-color: rgba(14, 140, 24, 0.80) !important;
}

.ListaPublicaciones {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background: rgb(235, 141, 59, 0.80) !important;
}

.ListaEventos {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background: rgba(150, 2, 0, 0.80) !important;
}

.ArregloActividades {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 15px !important;
<<<<<<< HEAD
=======

>>>>>>> f714dc741ec769def85d875fd1e3c203c9135c99
}